{% extends 'securityBase.html.twig' %}
{% block content %}
    <h1><i class="fa fa-cogs"></i> {% trans %}Whoops something went wrong{% endtrans %} (HTTP 500)</h1>
    </br>
    <p>
        {% if exception.message is defined %}
            <div class="alert alert-danger" role="alert">{{ exception.message|trans }}</div>
        {% endif %}
        {% trans %}If you keep getting this error create an issue on{% endtrans %} <a href="https://github.com/janfriedli/JIRAstic/issues/new">GitHub</a>
    </p>
{% endblock %}