{% extends "securityBase.html.twig" %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
    <h1>Customfield edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

{% endblock %}
