# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_name:     jirastic
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    locale: en

    #auth
    jirastic_api_url:   https://issue.swisscom.ch
    jira.consumer_key: somekey
    jira.consumer_secret: somesecret
    jira.private_key_path: /home/osboxes/Documents/JIRAstic/app/config/oauth/jira.pem


    jirastic_classes:   {resolved: Resolved, inprogress: In Progress, unresolved: Unresolved}

    jirastic_show_sprints_x_months_back: 6

    # customfields
    jirastic_api_customfields_endpoint: /rest/api/2/field
