{% extends "securityBase.html.twig" %}

{% block content %}
    <h1></i> Hi {{ user.username }}! {% trans %}Welcome to JIRAstic{% endtrans %}</h1>

    JIRAstic allows you to create a presentation based upon a Scrum sprint.
    Before you're able to generate a presentation you have to do some configuration.
    </p>
    <div class="well well-sm">1. Configure different states (every issue belongs to one state) <a href="{{ path('admin_board_index') }}">here</a></div>
    <div class="well well-sm">2. Configure all customfields (will be used in the presentation) <a href="{{ path('admin_customfield_index') }}">here</a></div>
    </p>
    After doing the configuration you may want to create a <a href="{{ path('boards') }}">presentation</a>.



{% endblock %}
